<!doctype html>


<html lang="en">
{% block head %}
            <link rel="shortcut icon" href="{{ url_for('static', filename='my_logo.jpg') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='my_logo.jpg') }}" type="image/x-icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}党建服务{% endblock %}</title>


        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

{% endblock %}
    <body>
        {% block content %}{% endblock %}
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>